# Das sind die Python-Bibliotheken für die Notebooks
# Diese sind insbesondere für mybinder.org relevant
jupyter-server-proxy
pandas
matplotlib
neo4j
py2neo
pygal
notebook==5.5
jupyter_dashboards
tornado==5.1.1
nltk
numpy
sklearn
inflect